/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div {
  background-color: rgb(162, 201, 139);
  
}

.title {
  background-color: #d95d4f;
  height: 65px;
  text-align: left;
  font-family: cursive;
  padding: 10px;
}

.submit-new-movie {
  border: 2px solid green;
  padding: 5px;
  background-color: lightgreen;
  border-radius: 4px;
  color: white;
}

.col-md-4 {
  border: 5px solid black;
}

img {
  margin: 5px;
  
}